<div class="beta">
	<h3 style="margin:5px 0 0 0;">FitWizard Is Under Construction</h3>
	<blockquote style="margin-left:10px;font-size: 18px;">
		"A wizard is never late, nor is he early, he arrives precisely when he means to."
	</blockquote>
	<p>
		FitWizard is a work in progress. We can't guarantee anything will work.
	</p>
</div>