<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome, Wizard</title>
	<link rel="stylesheet" href="/css/fitwizard.css">
	<script type="text/javascript" src="/js/fitwizard.js" defer></script>
</head>
<body>
	<h1>Hello Wizard!</h1>
	<%- include('beta') %>
	<div class="container">
		<div style="position:relative;top:20vh;">
			<form id="start_adventure" action="/adventure" method="POST">
				<input type="hidden" name="lat" id="lat" value="">
				<input type="hidden" name="lng" id="lng" value="">
				<input type="submit" value="Embark!">
			</form>
		</div>
	</div>
</body>
</html>