<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Signup for FitWizard</title>
	<link rel="stylesheet" href="/css/fitwizard.css">
</head>
<body>
	<h1>Begin your Adventure</h1>
	<%- include('beta') %>
	<div class="container">
		<form action="/signup" method="POST">
			<label for="email">Email:</label><br>
			<input type="email" name="email" id="email" placeholder="you@something.com"><br><br>
			
			<label for="username">Wizard Name:</label><br>
			<input type="text" name="username" id="username" placeholder=""><br><br>

			<label for="password">Password:</label><br>
			<input type="password" name="password" id="password" placeholder=""><br><br>
			
			<label for="verify_password">Verify Password:</label><br>
			<input type="password" name="verify_password" id="verify_password" placeholder=""><br><br>

			<input type="submit" value="Start Your Adventure!"><br><br>
			or <a href="/login">Login</a>
		</form>
	</div>
</body>
</html>