@font-face {
	font-family: Dumbledor;
	src: url('/fonts/dum1/dum1.ttf') format('truetype');
}
@font-face {
	font-family: DumbledorShadow;
	src: url('/fonts/dum1/dum1shad.ttf') format('truetype');
}

body {
	background-color: rgb(49, 49, 49);
	color: #fff;
	font-family: 'Dumbledor', serif;
	margin: 0;
	padding: 0 10px;
	font-size: 28px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Dumbledor', serif;
	text-align: center;
	color: orange;
}

.container {
	margin: 0 10px;
}

input {
	width: 95%;
	padding: 5px;
}

input[type=submit] {
	background-color: orange;
	font-family: 'Dumbledor', serif;
	font-size: 32px;
	width: 100%;
}

.beta {
	border: 1px solid orange;
	margin: 5px 10px;
	padding: 0px 10px;
	background-color: rgba(255,165,0,.1);
}

a {
	color: orange;
}
a:hover {
	color: rgba(255,165,0,.8);
}